@import "../Variables/Variables.scss";

.mainPage {
  display: flex;
  justify-content: center;
  align-items: center;

  h1 {
    color: $blackColor;
  }
}

button {
  @include buttonStyle($whiteColor, 35px, $blackColor);
}
